version: "3.8"

services:
  songdb:
    container_name: edusongdb
    hostname: edusongdb
    image: mysql:8.0
    ports:
      - 8900:3306
    networks:
      - edufynet
    environment:
      MYSQL_ROOT_PASSWORD: pass
      MYSQL_DATABASE: songdb
      MYSQL_USER: myuser
      MYSQL_PASSWORD: pass
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  albumdb:
    container_name: edualbumdb
    hostname: edualbumdb
    image: mysql:8.0
    ports:
      - 8901:3306
    networks:
      - edufynet
    environment:
      MYSQL_ROOT_PASSWORD: pass
      MYSQL_DATABASE: albumdb
      MYSQL_USER: myuser
      MYSQL_PASSWORD: pass
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  creatordb:
    container_name: educreatordb
    hostname: educreatordb
    image: mysql:8.0
    ports:
      - 8903:3306
    networks:
      - edufynet
    environment:
      MYSQL_ROOT_PASSWORD: pass
      MYSQL_DATABASE: creatordb
      MYSQL_USER: myuser
      MYSQL_PASSWORD: pass
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5


  songservice:
    build:
      context: ./SongService
      dockerfile: Dockerfile
    container_name: songservice
    ports:
      - 8905:8080
    networks:
      - edufynet
    depends_on:
      songdb:
        condition: service_healthy

  albumservice:
    build:
      context: ./AlbumService
      dockerfile: Dockerfile
    container_name: albumservice
    ports:
      - 8906:8080
    networks:
      - edufynet
    depends_on:
      albumdb:
        condition: service_healthy

  artistservice:
    build:
      context: ./ArtistService
      dockerfile: Dockerfile
    container_name: artistservice
    ports:
      - 8907:8080
    networks:
      - edufynet
    depends_on:
      creatordb:
        condition: service_healthy

networks:
  edufynet:
    name: edufynetwork
    # external: true
