version: "3.8"

services:
  songservice:
    build:
      context: ./SongService
      dockerfile: Dockerfile
    container_name: songservice
    ports:
      - 8905:8080
    networks:
      - edufynet

  albumservice:
    build:
      context: ./AlbumService
      dockerfile: Dockerfile
    container_name: albumservice
    ports:
      - 8906:8080
    networks:
      - edufynet

  artistservice:
    build:
      context: ./ArtistService
      dockerfile: Dockerfile
    container_name: artistservice
    ports:
      - 8907:8080
    networks:
      - edufynet

networks:
  edufynet:
    name: edufynetwork
    external: true
